.aboutus{
    width: 100%;
    padding: .5rem;
    
    /* background-color: lightblue; */
}


.first-content{
    display: flex;
    width: 100%;
    gap: 20px;
    
}
.first-content .image{
    width: 100%;
}
 .image img{
    width: inherit;
    height: 350px;
    border-radius: 25px;
}

.second-content{
    display: flex;
    width: 100%;
    padding-top: 10px;
    gap: 20px;
    
}
.second-content .image{
    width: 100%;
    padding: 5px;
}
.second-content h2{
    padding: 5px 0 5px 0;
}

.content .first-p{
    padding-left: 20px;
}
.content{
    margin-top: 80px;
    padding: 10px 0 10px 0;
}
 .aboutus p{
    font-size: 17px;
    padding: .5rem .2rem;
}

.customer-reviews{
    padding:  1rem .5rem .5rem .5rem;
}
.customer-reviews h1{
    text-align: center;
    padding: .5rem;
}
.customer{
    width: 100%;
    padding: .5rem;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
  gap: 10px;
}
.customer-card{
    height: 350px;
    width: 350px;
    position: relative;
    overflow: hidden;
    
    /* border: 1px solid black; */
}
.customer-card img{
    height: 350px;
    width: 300px;
    border-radius: 20px;
    object-fit: cover;
    overflow: hidden;
    
}
.customer-rating{
    width: 300px;
    position: absolute;
    top: 185px;
    color: white;
    padding: 5px;
    z-index: 10;
}
/* .customer-card img:hover{
    transform: scaleY(1.1);
    cursor: pointer;
} */
 .customer-rating p{
    font-size: 18px;
    padding: .1rem;
   }
 



@media screen and (max-width:800px){
   .first-content{
    flex-wrap: wrap;
   }
   .second-content{
    flex-wrap: wrap;
   }
  
   .image img{
width:inherit;
   }
  
}
@media screen and (max-width:968px){
 .customer{
    flex-wrap: wrap;
   }
   .customer-card{
    /* width: 100%; */
    height: 380px;
   }
   .customer-card img{
    width: 100%;
    height: 100%;
   }
   .customer-rating p{
    font-size: 15px;
    padding: .1rem;
   }
   .customer-rating{
    width: 100%;
    padding: .2rem;
   }
}
@media screen and (max-width:757px) {
    .customer-card{
    width: 100%;
    height: 380px;
   }
    .customer-rating{
   
    position: absolute;
    top: 220px;
    color: white;
    padding: 5px;
    z-index: 10;
}
}