.contact-form{
    padding: 6rem 6rem;
}
.contact-form form{
    padding-top: 2rem ;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    gap: 20px;
   
}
form input{
    height: 3rem;
    padding: 0 1rem;
    border-radius: .3rem;
    border: 1px solid #2a2a2a;

}
form textarea{
   
    padding: 1rem;
    border-radius: .3rem;
    border: 1px solid #2a2a2a;

}
.contact-form button{
display: inline;
}


@media screen and (max-width:750px){
    .contact-form{
        padding: 5rem 1rem;
    }
    .contact-form form{
        padding-top: 1rem ;
      
       
        width: 90%;
        
        gap: 20px;
       
    }
    .contact-form button{
display: inline;
    }
}