.container{
    /* border: 1px solid; */
 
    padding: 6rem 2rem 2rem 2rem;
   

}
.ui-form{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: auto;
    gap: 10px;
    padding: 1rem;
   
}
label{
    padding: 0 .3rem;

}
.field input{
    width: 80%;
list-style: none;
border: 1px solid #2a2a2a;
   
}
button{
    width: 50%;
    margin: auto;
    display: inline;
}
form p{
    color: red;
   
}
input:active{
    list-style-type: none;
    outline: none;
}

@media screen and (max-width:1000px){

    .ui-form{
        width: 50%;
    }
}
@media screen and (max-width:650px){

    .ui-form{
        width: 80%;
    }
}
@media screen and (max-width:435px){

    .ui-form{
        width: 100%;
    }
}

