.trip-container{
    width: 100%;
   
    
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
    justify-items: center;
    align-items: center;
   
    gap: 10px;
   padding: 5rem 0px 1rem 0px;
   
    /* border: 1px solid black; */
    
   
}
.parent-container{
    width: 100%;
    /* background-color: lightblue; */
}
.t-card{
    /* height: 280px; */
    width: 260px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: .3rem;

   
   
    
}
.t-image img{
    height: 180px;
    width: 250px;
    /* border-radius: 20px; */
}
.t-title{
    padding: .3rem;
    display: flex;
    justify-content: space-between;
}
.t-title button svg{
    width: 30px;
    height: 25px;
}
svg:hover{
  cursor: pointer;
}
.t-title button{
    background-color: white;
    /* border: 1px solid black; */
    width: 30px;
    padding: 0px;
    margin-right: 0px;
}
.t-text {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 .5rem;
}
.t-card .t-button button{
    width: 100px;
    /* margin-left: 30px; */
    background-color: black;
    color: white;

}

.t-button{
    padding: .3rem;
    text-align: center;
}

@media screen and (max-width:551px){

    
    .t-card{
        width: 80%;
    }
    .t-image img{
        height: 180px;
        width: 100%;
        /* border-radius: 20px; */
    }
    .t-button{
        text-align: center;
    
    }
}
